html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin:0px;
	padding:0px;
}

.container {	
	height: 100%;
	position: relative;
}

.options-box {
	border: 1px solid #999;
	background-color: cyan;
	line-height: 35px;
	padding: 10px 10px 30px 10px;
	width: 340px;
	height: 100%;
}

#map {
        bottom:0px;
        height: 100%;
        left: 362px;
        position: absolute;
        right: 0px;
      }

